a {
    color: #007b5f;
}

body {
    font-family: "OpenSans", Helvetica, sans-serif;
}

h3 {
    margin-bottom: 0.5em;
}

header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.logo {
    margin-left: -45px;
}

header {
  display:block;
  height:80px;
  background-color: #23403b;
  margin: 0 0 20px 0;

}

footer {
  display:block;
  height:80px;
  background-color: #475c57;
  margin: 30px 0 0 0;
}

#title {
  color:#fff;
  /*display:block;
  position:relative;
  /*font-size: 2.5em;*/
  padding-top: 23px;
  top:23px;
  left:0;
  font-weight: normal;
  line-height:24px;

}

#title-stripe {
  /*
  display:block;
  position:relative;
  top:0px;
  left:0px;
  */
  padding: 0;
  margin: 0;
  line-height:0;

}

#nav-menu {
    float: right;
}

#nav-menu a {
    color: #fff;
}


/* Home page */

.home #map {
    display:block;
    height:544;
}

.home #map svg .region {
    stroke: #fff;
    stroke-opacity: 1;
    /*stroke-width:1px;*/

}

.home #map svg .region:hover {
    stroke: #fff;
    /*stroke-width:3px;*/

}

.home #sidebar {
    background-color: #f8f8f8;
    padding: 2em;
}

.home #sidebar ul {
    margin: 0;
}

.home #sidebar li {
    list-style-type:none;
    padding-bottom: 1em;
}

.home #sidebar li a {
    color: white;
    font-weight: bold;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ce1127;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

} 

.home #sidebar li a:hover {
    text-decoration: none;
    color: #ce1127;
    background-color: #fff !important;
}

.home #sidebar h3 {
    font-weight: normal;
    margin-top: 0.5em;
}

.home #sidebar li.national a {
    background-color: #007b5f;
}

.home #sidebar li.national a:hover {
    color: #007b5f;
}

.home #sidebar li.council a {
    background-color: #fdd116;
}

.home #sidebar li.council a:hover {
    color: #fdd116;
}




/* Budget Transparency Index */

.bti #map svg .commune {
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}   

.bti .details-content table {
    width: 100%;
    margin-bottom: 2em;
    /*font-weight: bold;*/
}

.bti .details-content table td {
    padding-bottom: 0.5em;
}

.bti .details-content table td.large {
    font-size: 1.5em;
    vertical-align: middle;
    /*font-weight: bold;*/
}

.bti .details-content table td.large small {
    font-size: 0.75em;
    color: #999;
}

.bti .details-content table .field {
    color: #777;
    /*font-weight: bold;*/
    vertical-align: bottom;
    padding-bottom: 0.2em;
}

.bti #ranking th {
    cursor: pointer;
}

.bti #ranking th,
.bti #ranking td {
    text-align: right;
}

.bti #ranking th.name,
.bti #ranking td.name {
    text-align: left;
}

.bti #ranking a {
    font-weight: bold;
}

.bti .nav.facets img {
    width: 16px;
    height: 16px;
}

.bti .checkmatrix td, 
.bti .checkmatrix th {
    text-align: center;
}

.bti .checkmatrix td.q, 
.bti .checkmatrix th.q {
    text-align: left;
}
