<p>
    The data has been re-organized into a system of focus sectors which group
    some of the chapters present in the original budget document into larger 
    categories. The sector system is loosely based on the UN's <a href="http://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4">COFOG</a> scheme. The full mapping is
    presented below:
</p>

<table class="table table-condensed">
<tr><th>Focus Sectors</th><th>Budget Chapters</th></tr>
<tr><td rowspan="3">Agriculture and Rural Development</td><td>Agriculture and Rural Development</td></tr>
<tr><td>Livestock, Fisheries and Animal Indust.</td></tr>
<tr><td>Forestry and Wildlife</td></tr>
<tr><td rowspan="10">Economic Affairs</td><td>Communication</td></tr>
<tr><td>Finance</td></tr>
<tr><td>Trade</td></tr>
<tr><td>Economy, Planning and Regional Development</td></tr>
<tr><td>Tourism</td></tr>
<tr><td>State Property And Land</td></tr>
<tr><td>Housing and Urban Development</td></tr>
<tr><td>Small and Medium Size Enterprises, Social Economy and Handicraft</td></tr>
<tr><td>Posts and Telecommunications</td></tr>
<tr><td>Employment and Vocational Training</td></tr>
<tr><td rowspan="4">Education</td><td>Basic Education</td></tr>
<tr><td>Higher Education</td></tr>
<tr><td>Scientific Research and Innovations</td></tr>
<tr><td>Secondary Education</td></tr>
<tr><td>Energy and Water</td><td>Energy and Water</td></tr>
<tr><td rowspan="13">General public services</td><td>Cabinet of the President</td></tr>
<tr><td>Directorate General for External Research</td></tr>
<tr><td>Secretariate General of the AN</td></tr>
<tr><td>Cabinet of the Prime Minister</td></tr>
<tr><td>Economic and Social Council</td></tr>
<tr><td>Foreign Affairs</td></tr>
<tr><td>Secretariate General</td></tr>
<tr><td>Territorial Administration and Decentralisation</td></tr>
<tr><td>Justice</td></tr>
<tr><td>Unspecified Category</td></tr>
<tr><td>Unspecified Category</td></tr>
<tr><td>Public Service and Administrative Reform</td></tr>
<tr><td>Unspecified Category</td></tr>
<tr><td>Health</td><td>Public Health</td></tr>
<tr><td rowspan="2">Infrastructure</td><td>Public Works</td></tr>
<tr><td>Transport</td></tr>
<tr><td rowspan="9">Miscellaneous</td><td>General Delegation for National Security</td></tr>
<tr><td>Defense</td></tr>
<tr><td>Culture</td></tr>
<tr><td>Sports and Physical Education</td></tr>
<tr><td>Youth</td></tr>
<tr><td>Environment and Nature Protection</td></tr>
<tr><td>Labour and Social Insurance</td></tr>
<tr><td>Social Affairs</td></tr>
<tr><td>Women and Family Affairs</td></tr>
</table>