<p>
    Les données ont été réorganisée dans un système de secteurs regroupants certaines des sections présentes dans les documents originaux. Ce système de secteurs se fonde sur le schéma de l'ONU <a href="http://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4">COFOG</a>. Le tableau ci-dessous reprend la description complète:
</p>

<table class="table table-condensed">
<tr><th>Secteurs</th><th>Chapitres budgétaires</th><th>Description courte</th></tr>
<tr><td rowspan="3">Agriculture et développement rural</td><td>Agriculture et développement rural</td><td>Agriculture &amp; dev. rural</td></tr>
<tr><td>Elevage, pêche</td><td></td></tr>
<tr><td>Sylvieculture et faune</td><td>Sylvieculture &amp; faune</td></tr>
<tr><td rowspan="10">Affaires économiques</td><td>Communication</td><td></td></tr>
<tr><td>Finance</td><td></td></tr>
<tr><td>Commerce</td><td></td></tr>
<tr><td>Economie, planification et développement rural</td><td>Economie &amp; Planification</td></tr>
<tr><td>Tourisme</td><td></td></tr>
<tr><td>Propriété étatique et terrain</td><td>Propriété étatique</td></tr>
<tr><td>Logement et développement urbain</td><td>Développement urbain</td></tr>
<tr><td>Petites et moyennes entreprises, économie sociale et artisanat</td><td>Petites &amp; moyennes entreprises</td></tr>
<tr><td>Postes and télécommunications</td><td>Poste &amp; Télécom.</td></tr>
<tr><td>Emploi et formation professionnelle</td><td>Emploi</td></tr>
<tr><td rowspan="4">Education</td><td>Education primaire</td><td></td></tr>
<tr><td>Education supérieure</td><td></td></tr>
<tr><td>Recherche scientifique et innovation</td><td>Recherche scientifique</td></tr>
<tr><td>Education secondaire</td><td></td></tr>
<tr><td>Eau et énergie</td><td>Eau et énergie</td><td>Eau &amp; énergie</td></tr>
<tr><td rowspan="13">Services généraux des administrations publiques</td><td>Cabinet du Président</td><td>Cabinet du Président</td></tr>
<tr><td>Direction générale de la recherche extérieure</td><td>DG pour la recherche extérieure</td></tr>
<tr><td>Secrétariat général de l'AN</td><td>SG pour la recherche extérieure</td></tr>
<tr><td>Cabinet du premier ministre</td><td>Cabinet du PM</td></tr>
<tr><td>Conseil économique et social</td><td></td></tr>
<tr><td>Affaires étrangères</td><td></td></tr>
<tr><td>Secrétariat générale</td><td></td></tr>
<tr><td>Administration territoriale et décentralisation</td><td>Décentralisation</td></tr>
<tr><td>Justice</td><td></td></tr>
<tr><td>Catégorie non-définie</td><td></td></tr>
<tr><td>Catégorie non-définie</td><td></td></tr>
<tr><td>Services publics et réforme de l'administration</td><td>Réforme du secteur public</td></tr>
<tr><td>Catégorie non-définie</td><td></td></tr>
<tr><td>Santé</td><td>Santé publique</td><td></td></tr>
<tr><td rowspan="2">Infrastructure</td><td>Tranvaux publics</td><td></td></tr>
<tr><td>Transport</td><td></td></tr>
<tr><td rowspan="9">Divers</td><td>Délégation générale à la sécurité nationale</td><td>Délégation à la sécurité nationale</td></tr>
<tr><td>Défense</td><td></td></tr>
<tr><td>Culture</td><td></td></tr>
<tr><td>Sports et éducation physique</td><td>Sports &amp; EP</td></tr>
<tr><td>Jeunesse</td><td></td></tr>
<tr><td>Environment et protection de la nature</td><td>Protection de l'environnement</td></tr>
<tr><td>Emploi et protection sociale</td><td>Protection sociale</td></tr>
<tr><td>Affaires sociales</td><td></td></tr>
<tr><td>Femmes et affaires familiales</td><td>Femmes &amp; famille</td></tr>
</table>
